<form>
  <pwr-formulario-cadastro icone="assets/iconesMenu/icon-window-active.svg" titulo="Itens cotação"
    urlListagem="ecotacao/cotacoesemaberto" tituloid="Código da cotação" [id]="id">
    <pwr-cabecalho-secao descricao="Itens da Cotação"></pwr-cabecalho-secao>
    <div class="row mt-5">
    </div>

    <pwr-tabela-dados-simples [registros]="registros" [configuracoesColunas]="configuracoesColunas"
      (SelecionarLinha)="registroSelecionado($event, content)">
    </pwr-tabela-dados-simples>

    <pwr-separador></pwr-separador>

  </pwr-formulario-cadastro>
</form>

<ng-template #content let-modal>
  <div class="modal-header">
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="col-11">
          <h4></h4>
        </div>
        <div class="col-1">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioItensCotacao">
      <div class="mt-3">
        <pwr-cabecalho-secao descricao="Itens da Cotação: {{id}}"></pwr-cabecalho-secao>
      </div>

      <div class="row mt-3 d-flex align-items-center">
        <div class="col-3">
          <pwr-container-campos label="Quantidade Oferecida">
            <input formControlName="Qtdofe" class="form-control" />
          </pwr-container-campos>
        </div>
        <div class="col-3">
          <pwr-container-campos label="Valor Unitário R$">
            <input formControlName="Vlruni" class="form-control" />
          </pwr-container-campos>
        </div>
        <div class="col-3">
          <pwr-container-campos label="Preço R$">
            <input formControlName="Vlrtot" class="form-control" />
          </pwr-container-campos>
        </div>      

      </div>
      <div class="row mt-3 d-flex align-items-center">
        <div class="col-12">
          <pwr-container-campos label="Forma de Pagamento">
            <pwr-busca-avancada api="EstfpgFiltro" [model]="Estfic.Codfpg" (itemSelecionado)="Estfic.Codfpg = $event"
              [form]="formularioItensCotacao" name="Codfpg" bindinghighlight="Descri"
              [configs]="EstfpgConfiguracoes.configsBinding" [formatter]="EstfpgConfiguracoes.formatter">
            </pwr-busca-avancada>
          </pwr-container-campos>
        </div>
      </div>
      <div class="row mt-3 d-flex align-items-center">
        <div class="col-12">
          <pwr-container-campos label="Observações">
            <textarea formControlName="Observ" class="form-control"></textarea>
          </pwr-container-campos>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">

  </div>
</ng-template>
